<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- <span class="copyright">Copyright &copy; <a href="http://harleybmc.com" target="blank">harleybmc.com</a> 2017</span> -->
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/HarleyBMC" target="blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/harleydavidsonbmc" target="blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/harleydavidsonbmc/" target="blank"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://harleybmc.com/privacidad.html">Política de privacidad</a>
                        </li>
                        <li><a href="http://harleybmc.com/aviso.html">Aviso legal</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
</footer>
