<div class="motosDinamicas" ng-controller="motosCtrl as moto">
		Aqui van las flamantes motos
	{{moto.vMoto}}
				<div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{moto.json.titulo}}</h2>
                                <p class="item-intro text-muted">Street Glide® Special</p>
                                <img class="img-responsive img-centered" src="img/portfolio/streetglide2015.jpg" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                
                                <button type="button" class="btn btn-primary" ng-click="$dismiss()"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

</div>