 <!-- Services Section -->
    <section id="servicios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Politicas</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-motorcycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Condiciones de renta</h4>
                    <p class="text-muted">
                        <ul class="text-muted">
                            <li>Licencia vigente para conducir motocicleta del Estado o del País de residencia.</li>
                            <li>Tener al menos 21 años cumplidos.</li>
                            <li>Garantía en tarjeta de crédito con cargo parcial de usd $2,000 o su equivalente en moneda nacional.</li>
                            <li>Prueba de manejo.</li>
                            <li>Identificaciones oficiales de cada pasajero.</li>
                            <li>Firma de convenio de deslinde de responsabilidades.</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ambulance fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Seguro</h4>
                    <p class="text-muted" align="justify">Accidentes Personales: cubre $500,000 mxn por muerte accidental y pérdida de miembros, así como $300,000 mxn de gastos médicos al conductor y pasajero, siempre y cuando el conductor manifieste al momento de la firma del contrato de renta que lleva un pasajero. Daños y Robo parcial o Total: Aplica un deducible del equivalente en moneda nacional de $1,800 usd.</p>
                </div>
            </div>
        </div>
    </section>